body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #d42929;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h1, h2, p, section {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    padding: 2rem 0;
}

fieldset:not(:last-of-type) {
    border-bottom: 3px solid #f5f6f7;
}

legend {
    display: block;
    margin: 0.5rem 0;
}

input {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #f5f6f7;
}

button {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #fff562;
    border-color: white;
    color: #831818;
    min-width: 300px;
}

footer {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: rgb(255, 251, 0);
    min-width: 300px;
}

a {
    color: #f5f6f7;
}

a:visited {
    color: #f5f6f7;
}

a:hover {
    color: rgb(255, 251, 0);
}

a:active {
    color: rgb(255, 251, 0);
}
